# Merge Excel Files from Scraping Project

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

#### Import Excel Files into List of Files

In [2]:
# Path for Excel Files on Local Machine:
path = "C:/Users/fucac/Documents/projects/realEstateScraping"

fileList = []

# Append .xlsx files to fileList
fileList.append(path + "/Georgia/GA - RealEstateData.xlsx")
fileList.append(path + "/North Carolina/NC - RealEstateData.xlsx")
fileList.append(path + "/South Carolina/SC - RealEstateData.xlsx")
fileList.append(path + "/West Virginia/WV - RealEstateData.xlsx")
fileList.append(path + "/Tennessee/TN - RealEstateData.xlsx")

# Check File List
display(fileList)

# Create a List for Excel
excelList = []

# Read Excel Files into Excel List Via Pandas
for file in fileList:
    excelList.append(pd.read_excel(file))

# Check Excel List
display(excelList)

# Create a Data Frame for ExcelList
realEstateRegional = pd.DataFrame()

# Add to Data Frame with Concat; *Append is Deprecated*
for excelFile in excelList:
    realEstateRegional = realEstateRegional.append(excelFile)

display(realEstateRegional)

['C:/Users/fucac/Documents/projects/realEstateScraping/Georgia/GA - RealEstateData.xlsx',
 'C:/Users/fucac/Documents/projects/realEstateScraping/North Carolina/NC - RealEstateData.xlsx',
 'C:/Users/fucac/Documents/projects/realEstateScraping/South Carolina/SC - RealEstateData.xlsx',
 'C:/Users/fucac/Documents/projects/realEstateScraping/West Virginia/WV - RealEstateData.xlsx',
 'C:/Users/fucac/Documents/projects/realEstateScraping/Tennessee/TN - RealEstateData.xlsx']

[        Price Beds Baths  Square_Feet              Type  \
 0    $299,900  3bd   2ba         2436             House
 1    $850,000  5bd   6ba         3862             House
 2    $199,000  3bd   2ba           --              Home
 3    $250,000  3bd   2ba         1440             House
 4    $579,900  5bd   4ba           --             House
 ..        ...  ...   ...          ...               ...
 637   $74,900    0     0  0.3acreslot              Land
 638  $577,690  3bd   4ba         1931  New construction
 639  $510,000  2bd   1ba         1140             House
 640  $450,000  2bd   1ba         1110             House
 641  $450,000    0     0  2.4acreslot              Land

                                         Address
 0           316 Fortner Dr, Dahlonega, GA 30533
 1         48 Piazza Pomino, Dahlonega, GA 30533
 2           198 Iberian Rd, Dahlonega, GA 30533
 3    64 Hummingbird Valley, Dahlonega, GA 30533
 4           206 Anhaila Ln, Dahlonega, GA 30533
 ..                                          ...
 637          2845 Marlin Way, Atlanta, GA 30341
 638        2219 Fern Park Dr, Atlanta, GA 30341
 639          3366 Keswick Dr, Atlanta, GA 30341
 640    (undisclosed Address), Atlanta, GA 30341
 641        2335 Woodacres Rd, Atlanta, GA 30345

 [642 rows x 6 columns],
          Price Beds Baths Square_Feet         Type  \
 0     $270,000  3bd   2ba        1488        House
 1     $560,000  5bd   5ba        3081  Coming soon
 2     $540,000  4bd   4ba        3175        House
 3     $250,000  3bd   2ba        1552        House
 4     $625,000  4bd   4ba        4194        House
 ...        ...  ...   ...         ...          ...
 1510  $259,000  3bd   2ba          --        House
 1511  $175,000  3bd   1ba        1203        House
 1512  $299,900  3bd   2ba        1617        House
 1513  $459,900  3bd   4ba          --        House
 1514  $160,000  3bd   1ba          --        House

                                          Address
 0           2449 Moss Creek Loop, Elon, NC 27244
 1               518 Brookview Dr, Elon, NC 27244
 2               6002 Windsor Cir, Elon, NC 27244
 3                  314 Sunset Dr, Elon, NC 27244
 4          106 Old Charleston Dr, Elon, NC 27244
 ...                                          ...
 1510     506 Gerringer St, Gibsonville, NC 27249
 1511      609 Minneola St, Gibsonville, NC 27249
 1512    504 Joe Gibson Dr, Gibsonville, NC 27249
 1513  6904 Claren Oaks Ct, Gibsonville, NC 27249
 1514         407 Smith St, Gibsonville, NC 27249

 [1515 rows x 6 columns],
          Price Beds Baths   Square_Feet              Type  \
 0     $285,000  3bd   2ba            --             House
 1     $385,000  3bd   3ba            --             House
 2     $475,000  3bd   4ba            --  New construction
 3     $209,900  3bd   2ba            --             House
 4     $398,000  2bd   1ba            --             House
 ...        ...  ...   ...           ...               ...
 1615  $195,900  3bd   2ba          1450             House
 1616  $249,999  3bd   2ba          1200  New construction
 1617   $29,900    0     0  5.27acreslot              Land
 1618   $80,000    0     0   2.1acreslot              Land
 1619   $70,000  1bd   1ba           558             House

                                            Address
 0            203 West Dr, Travelers Rest, SC 29690
 1        112 E Scenic Ln, Travelers Rest, SC 29690
 2              6 Vest St, Travelers Rest, SC 29690
 3           26 Circle St, Travelers Rest, SC 29690
 4     99 Leaning Tree Ct, Travelers Rest, SC 29690
 ...                                            ...
 1615         119 Fairchild St, Batesburg, SC 29006
 1616         342 Beltline Ave, Batesburg, SC 29006
 1617             0 Solomon St, Batesburg, SC 29006
 1618            213 Ashley Ln, Leesville, SC 29070
 1619            468 Duncan St, Batesburg, SC 29006

 [1620 rows x 6 columns],
          Price Beds Baths Square_Feet              Type  \
 0     $250,000  3bd   3ba        3120             House
 1     $295,000  3bd   2ba        2056             House
 2     $315,000  3bd   3ba        1594             House
 3     $300,000  4bd   3ba        1530             House
 4     $126,000  2bd   2ba        1176  New construction
 ...        ...  ...   ...         ...               ...
 1432  $159,900  3bd   2ba        1646             House
 1433  $124,900  4bd   2ba        1447             House
 1434  $124,900  3bd   1ba        1047             House
 1435   $18,000  3bd   1ba        1200             House
 1436  $185,000  5bd   4ba        2236             House

                                         Address
 0       81 Cherry Hill Rd, Morgantown, WV 26508
 1     379 Tyrone Avery Rd, Morgantown, WV 26508
 2          1029 Johnathan, Morgantown, WV 26508
 3          424 Arabela Ct, Morgantown, WV 26508
 4     18 Melvin Fields Rd, Morgantown, WV 26508
 ...                                         ...
 1432              120 Ann St, Weirton, WV 26062
 1433            1496 Cove Rd, Weirton, WV 26062
 1434       4005 Brightway St, Weirton, WV 26062
 1435           108 N 12th St, Weirton, WV 26062
 1436      140 Saint Johns Rd, Weirton, WV 26062

 [1437 rows x 6 columns],
          Price Beds Baths   Square_Feet              Type  \
 0     $749,900  3bd   3ba          2455             House
 1     $800,000  4bd   3ba          2814             House
 2     $799,900  3bd   3ba          2482             House
 3     $899,900  4bd   3ba          3290             House
 4     $525,000  3bd   2ba          1650             House
 ...        ...  ...   ...           ...               ...
 1519  $370,000  4bd   3ba            --             House
 1520  $440,000  5bd   3ba            --             House
 1521  $385,900  6bd   3ba            --             House
 1522  $455,000  5bd   3ba            --  New construction
 1523  $100,000    0     0  6.65acreslot              Land

                                      Address
 0       501 Ridgewood Rd, Franklin, TN 37064
 1      2013 Cedarmont Dr, Franklin, TN 37067
 2     1606 Callie Way Dr, Franklin, TN 37064
 3      620 Rutherford Ln, Franklin, TN 37064
 4       708 Liberty Pike, Franklin, TN 37064
 ...                                      ...
 1519      68 S Chinkapin Dr, Atoka, TN 38004
 1520          81 Cypress Rd, Atoka, TN 38004
 1521      45 Honeysuckle Ln, Atoka, TN 38004
 1522    326 Johnsborough Dr, Atoka, TN 38004
 1523        9071 N Tracy Rd, Atoka, TN 38004

 [1524 rows x 6 columns]]

C:\Users\fucac\AppData\Local\Temp\ipykernel_5532\2484682932.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  realEstateRegional = realEstateRegional.append(excelFile)
C:\Users\fucac\AppData\Local\Temp\ipykernel_5532\2484682932.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  realEstateRegional = realEstateRegional.append(excelFile)
C:\Users\fucac\AppData\Local\Temp\ipykernel_5532\2484682932.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  realEstateRegional = realEstateRegional.append(excelFile)

,Price,Beds,Baths,Square_Feet,Type,Address
0,"$299,900",3bd,2ba,2436,House,"316 Fortner Dr, Dahlonega, GA 30533"
1,"$850,000",5bd,6ba,3862,House,"48 Piazza Pomino, Dahlonega, GA 30533"
2,"$199,000",3bd,2ba,--,Home,"198 Iberian Rd, Dahlonega, GA 30533"
3,"$250,000",3bd,2ba,1440,House,"64 Hummingbird Valley, Dahlonega, GA 30533"
4,"$579,900",5bd,4ba,--,House,"206 Anhaila Ln, Dahlonega, GA 30533"
...,...,...,...,...,...,...
1519,"$370,000",4bd,3ba,--,House,"68 S Chinkapin Dr, Atoka, TN 38004"
1520,"$440,000",5bd,3ba,--,House,"81 Cypress Rd, Atoka, TN 38004"
1521,"$385,900",6bd,3ba,--,House,"45 Honeysuckle Ln, Atoka, TN 38004"
1522,"$455,000",5bd,3ba,--,New construction,"326 Johnsborough Dr, Atoka, TN 38004"
1523,"$100,000",0,0,6.65acreslot,Land,"9071 N Tracy Rd, Atoka, TN 38004"

#### Format Dataframe, Change DataFrame Column Types

In [3]:
# Format Cost Column
# First Remove Dollar Sign from Cost
realEstateRegional['Price'] = realEstateRegional['Price'].str[1:]

# Remove commas from price, it prevents converting to numeric type
realEstateRegional['Price'] = realEstateRegional['Price'].str.replace(",","")

# If Cell contains a Plus Sign Remove it
realEstateRegional['Price'] = realEstateRegional['Price'].str.replace("+","")

# If Cell contains nothing for price replace with 0
realEstateRegional['Price'] = realEstateRegional['Price'].str.replace("--","0")

# Change K Abbreviation to thousands(000)
realEstateRegional['Price'] = realEstateRegional['Price'].str.replace("K","000")


# Format SqFt Column
# Change Empty(--) to 0
realEstateRegional['Square_Feet'] = realEstateRegional['Square_Feet'].str.replace("--","Unknown")

# Format Column Types
# Format Price Column To Number
realEstateRegional['Price'] = realEstateRegional['Price'].apply(pd.to_numeric)

# Format Address Column into New Columns; Address, City, State, ZipCode
# Split By Commas First
# Create Address List
address = realEstateRegional['Address'].tolist()

addressList = []
cityList = []
stateList = []
zipList = []


# Split to divide
# realEstateRegional['Address','City','State'] = realEstateRegional['Address'].str.split(',')
for i in range(0, len(address)):
    if address[i].count('BYOL'):
        addressList.append('Unknown')
        cityList.append('Unknown')
        stateList.append('WV')
        zipList.append('00000')
    else:
        addressSplit = address[i].split(',')
        addressList.append(addressSplit[0])
        cityList.append(addressSplit[1])
        if len(addressSplit) == 3:
            zipSplit = addressSplit[2].split()
            stateList.append(zipSplit[0])
            zipList.append(zipSplit[1])
        else:
            zipList.append('00000')
            stateList.append('Unknown')



# Add each split segment to DataFrame
realEstateRegional['Address'] = addressList
realEstateRegional['City'] = cityList
realEstateRegional['State'] = stateList
realEstateRegional['Zip_Code'] = zipList

C:\Users\fucac\AppData\Local\Temp\ipykernel_5532\1290225349.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  realEstateRegional['Price'] = realEstateRegional['Price'].str.replace("+","")

#### Create Calculated Columns

In [4]:


# Create a calculated column; "Cost_per_SqFt/Acre"
# Helps Calculate Land Price 
# Get Coost and Size Based on Type into a List
costList = realEstateRegional['Price'].tolist()
sizeList = []

for i in range(0,len(costList)):
    try:
        if not realEstateRegional['Square_Feet'].iat[i].count('acre') and realEstateRegional['Square_Feet'].iat[i].count('lot'):
            sizeList.append('0')
        elif realEstateRegional['Square_Feet'].iat[i].count('acre'):
            acre = realEstateRegional['Square_Feet'].iat[i].split('acres')
            size = int(acre[0])
            sizeList.append(size)
        else:
            sizeList.append(realEstateRegional['Square_Feet'].iat[i])
    except:
        sizeList.append(0)

# Create Column Using Calculated Size then Calculate New Value of Cost/Size
costPerList = []

# If Land divide by the lot size
# If unknown relate the same
# Otherwise simple division
for i in range(0, len(costList)):
    if sizeList[i] == '0' or sizeList[i] == 0:
        costPerList.append(0)
    elif sizeList[i] == 'Unknown':
        costPerList.append(0)
    else:
        costPerList.append(costList[i]/float(sizeList[i]))

# Format newly created costPerList to be only 2 decimal places
for i in range(0,len(costPerList)):
    if costPerList[i] != 'Unknown':
        costPerList[i] = round(costPerList[i],2)

realEstateRegional['Cost_per_SqFt/Acre'] = costPerList

# Convert column to numeric
realEstateRegional['Cost_per_SqFt/Acre'] = realEstateRegional['Cost_per_SqFt/Acre'].apply(pd.to_numeric)

display(realEstateRegional)

,Price,Beds,Baths,Square_Feet,Type,Address,City,State,Zip_Code,Cost_per_SqFt/Acre
0,299900,3bd,2ba,2436,House,316 Fortner Dr,Dahlonega,GA,30533,123.11
1,850000,5bd,6ba,3862,House,48 Piazza Pomino,Dahlonega,GA,30533,220.09
2,199000,3bd,2ba,Unknown,Home,198 Iberian Rd,Dahlonega,GA,30533,0.00
3,250000,3bd,2ba,1440,House,64 Hummingbird Valley,Dahlonega,GA,30533,173.61
4,579900,5bd,4ba,Unknown,House,206 Anhaila Ln,Dahlonega,GA,30533,0.00
...,...,...,...,...,...,...,...,...,...,...
1519,370000,4bd,3ba,Unknown,House,68 S Chinkapin Dr,Atoka,TN,38004,0.00
1520,440000,5bd,3ba,Unknown,House,81 Cypress Rd,Atoka,TN,38004,0.00
1521,385900,6bd,3ba,Unknown,House,45 Honeysuckle Ln,Atoka,TN,38004,0.00
1522,455000,5bd,3ba,Unknown,New construction,326 Johnsborough Dr,Atoka,TN,38004,0.00
1523,100000,0,0,6.65acreslot,Land,9071 N Tracy Rd,Atoka,TN,38004,0.00

#### Splitting 'Square_Feet' into 'Square_Feet' and 'Acres Lot'

In [5]:
acreLot = []
feet = []

for i in range(0,len(costList)):
    if realEstateRegional['Square_Feet'].iat[i].count('acre'):
        feet.append(np.NaN)
        acreLot.append(realEstateRegional['Square_Feet'].iat[i])
    else:
        feet.append(realEstateRegional['Square_Feet'].iat[i])
        acreLot.append(np.NaN)

# Add list to column (Square_Feet) and create new column with list (Acre_Lot)
realEstateRegional['Square_Feet'] = feet
realEstateRegional['Acre_Lot'] = acreLot

# Rearrange Columns for Readability
realEstateRegional[['Price','Beds','Baths','Type','Square_Feet','Acre_Lot','Cost_per_SqFt/Acre','Address','City','State','Zip_Code']]

,Price,Beds,Baths,Type,Square_Feet,Acre_Lot,Cost_per_SqFt/Acre,Address,City,State,Zip_Code
0,299900,3bd,2ba,House,2436,NaN,123.11,316 Fortner Dr,Dahlonega,GA,30533
1,850000,5bd,6ba,House,3862,NaN,220.09,48 Piazza Pomino,Dahlonega,GA,30533
2,199000,3bd,2ba,Home,Unknown,NaN,0.00,198 Iberian Rd,Dahlonega,GA,30533
3,250000,3bd,2ba,House,1440,NaN,173.61,64 Hummingbird Valley,Dahlonega,GA,30533
4,579900,5bd,4ba,House,Unknown,NaN,0.00,206 Anhaila Ln,Dahlonega,GA,30533
...,...,...,...,...,...,...,...,...,...,...,...
1519,370000,4bd,3ba,House,Unknown,NaN,0.00,68 S Chinkapin Dr,Atoka,TN,38004
1520,440000,5bd,3ba,House,Unknown,NaN,0.00,81 Cypress Rd,Atoka,TN,38004
1521,385900,6bd,3ba,House,Unknown,NaN,0.00,45 Honeysuckle Ln,Atoka,TN,38004
1522,455000,5bd,3ba,New construction,Unknown,NaN,0.00,326 Johnsborough Dr,Atoka,TN,38004
1523,100000,0,0,Land,NaN,6.65acreslot,0.00,9071 N Tracy Rd,Atoka,TN,38004

#### Change Unknown to Pandas NaN

In [6]:
for i in range(0,len(costList)):
    checkvalPrice = str(realEstateRegional['Price'].iat[i])
    if checkvalPrice.startswith('0'):
        realEstateRegional['Price'].iat[i] = np.NaN
    
    checkvalBeds = realEstateRegional['Beds'].iat[i]
    if checkvalBeds.startswith('-'):
        realEstateRegional['Beds'].iat[i] = np.NaN

    checkvalBaths = realEstateRegional['Baths'].iat[i]
    if checkvalBaths.startswith('-'):
        realEstateRegional['Baths'].iat[i] = np.NaN

    checkvalSqFt = realEstateRegional['Square_Feet'].iat[i]
    if checkvalSqFt == 'Unknown':
        realEstateRegional['Square_Feet'].iat[i] = np.NaN

    checkvalPer = str(realEstateRegional['Cost_per_SqFt/Acre'].iat[i])
    if checkvalPer.startswith('0'):
        realEstateRegional['Cost_per_SqFt/Acre'].iat[i] = np.NaN

#### Update Manually Bad Listings (No State Listed?)

In [7]:
# Cities with Unlisted States
# Remove NCs Bad Land Listings on No Real Address

for i in range(0,len(costList)):
    area = realEstateRegional['City'].iat[i]
    area = area.strip()

    if area == 'Asheville':
        realEstateRegional['State'].iat[i] = 'NC'

    if area == 'Brookstone - Winterville':
        realEstateRegional['State'].iat[i] = 'NC'
    
    if area == 'Langston West':
        realEstateRegional['State'].iat[i] = 'NC'
        
    if area == 'Preston Park':
        realEstateRegional['State'].iat[i] = 'NC'
    
    if area == 'Maple Ridge':
        realEstateRegional['State'].iat[i] = 'NC'

    if area == 'Hilton Head Lakes':
        realEstateRegional['State'].iat[i] = 'SC'
    
    if area == 'Livingston Place':
        realEstateRegional['State'].iat[i] = 'SC'

    if area == 'Park North at Pinestone':
        realEstateRegional['State'].iat[i] = 'SC'

    if area == 'Rosegate':
        realEstateRegional['State'].iat[i] = 'SC'

    if area == 'Magnolia Walk':
        realEstateRegional['State'].iat[i] = 'SC'

    if area == 'Fox Run':
        realEstateRegional['State'].iat[i] = 'TN'

    if area == 'Eastview Manor':
        realEstateRegional['State'].iat[i] = 'WV'

    if area.count('Charles Point'):
        realEstateRegional['State'].iat[i] = 'WV'

    if area.count('WV'):
        realEstateRegional['State'].iat[i] = 'WV'


# Lastly remove messed up nc listing
drop_index = realEstateRegional[(realEstateRegional['City'] == '51')].index
realEstateRegional.drop(drop_index,inplace=True)

#### Export to Excel File

In [8]:
# Create an export to Excel File for Furthur Analysis

# Create File Name
fileName = 'Regional - RealEstateData.xlsx'

# Export to Excel; Sheet Named: 'Real Estate Data';
with pd.ExcelWriter(fileName, engine="openpyxl", mode="w") as writer:
    realEstateRegional.to_excel(writer, 'Regional - Real Estate Data', index=False)